extends layout

block content    
    h1= title
    form(name="add-user", method="post")
        div.input
            span.label Nick
            input(type="text", name="nick")
        div.input
            span.label Mail
            input(type="email", name="mail")
        div.input
            span.label Password
            input(type="password", name="password")
        div.input
            span.label Repeat password
            input(type="password", name="rpassword")
        div.input
            span.label Name
            input(type="text", name="name")        
        div.input
            span.label Birth
            input(type='date', name='bday')
        div.input
            span.label Avatar
            //span.label #{}
            img#uploadPreview(style='width: 100px; height: 100px;')
            input#uploadImage(type='file', name='myPhoto', onchange='PreviewImage();')
            script(type='text/javascript').
                function PreviewImage() {
                    var oFReader = new FileReader();
                    oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
                    oFReader.onload = function (oFREvent) {
                    document.getElementById("uploadPreview").src = oFREvent.target.result;
                    };
                };
            //img(src='images/default/default-avatar.png')
            //input(type='file', name='file')
        div.input
            span.label Description
            br
            textarea(name="description", cols="40", rows="5")
        div.actions
            input(type="submit", value="register")